In [25]:
import datetime
import sqlite3
import pandas as pd
import sqlalchemy
import datetime
import os
dirname = os.getcwd()
Database = os.path.join(dirname, 'data/tasks.db')

connection = sqlite3.connect(Database)
cursor = connection.cursor()
engine = sqlalchemy.create_engine(r'sqlite:///{}'.format(Database)).connect()
df = pd.read_sql_table('tasks', engine, index_col=1)

print(df.head())

  task project category  priority                  note  complete
0  Run    home   health       1.0  Get my fat ass going     False
1  Run    home   health       1.0  Get my fat ass going     False
2                             4.0                           False

In [26]:
# Use the match function to update the dataframe depending on catagory passed into this function
new_task = {'task': "Run", 'project':'home', 'category':'health','priority':int(1),'note':'Get my fat ass going','complete':False}
new_row = pd.DataFrame(new_task, index=[0])
df = df.append(new_row, ignore_index=True)

In [27]:
df[['task','note','complete']]

  task                  note  complete
0  Run  Get my fat ass going     False
1  Run  Get my fat ass going     False
2                                False
3  Run  Get my fat ass going     False

In [28]:
def addNewTask(df):
    # Use the match function to update the dataframe depending on catagory passed into this function
    new_task = {'task': "", 'project':'', 'category':'','priority':4,'note':'','complete':False}
    new_row = pd.DataFrame(new_task, index=[0])
    df = df.append(new_row, ignore_index=True)
    return df

In [29]:
df.to_sql('tasks', engine, if_exists='replace', index=False)

In [32]:
df = addNewTask(df)

In [28]:
df

  task project category  priority                  note  complete
0  Run    home   health       1.0  Get my fat ass going     False
1  Run    home   health       1.0  Get my fat ass going     False
2                             4.0                           False
3  Run    home   health       1.0  Get my fat ass going     False

In [34]:
df.to_sql('tasks', engine, if_exists='replace', index=False)

In [35]:
df

  task project category  priority                  note  complete
0  Run    home   health       1.0  Get my fat ass going     False
1  Run    home   health       1.0  Get my fat ass going     False
2                             4.0                           False

In [32]:
df_dict = df.to_dict(orient='row')

In [33]:
df_dict

[{'task': 'Run',
  'project': 'home',
  'category': 'health',
  'priority': 1.0,
  'note': 'Get my fat ass going',
  'complete': False},
 {'task': 'Run',
  'project': 'home',
  'category': 'health',
  'priority': 1.0,
  'note': 'Get my fat ass going',
  'complete': False},
 {'task': '',
  'project': '',
  'category': '',
  'priority': 4.0,
  'note': '',
  'complete': False},
 {'task': 'Run',
  'project': 'home',
  'category': 'health',
  'priority': 1.0,
  'note': 'Get my fat ass going',
  'complete': False}]

In [44]:
print(df_dict[0]['project'])

home

In [23]:
for key in df_dict:
    for i in range(len(df_dict[key])):
        print(key + " "+ str(i) + ": " + str(df_dict[key][i]))

task 0: Run
task 1: Run
task 2:
project 0: home
project 1: home
project 2:
category 0: health
category 1: health
category 2:
priority 0: 1.0
priority 1: 1.0
priority 2: 4.0
note 0: Get my fat ass going
note 1: Get my fat ass going
note 2:
complete 0: False
complete 1: False
complete 2: False

In [24]:
df.set_index()

TypeError: set_index() missing 1 required positional argument: 'keys'