In [1]:
import datetime
import sqlite3
import pandas as pd
import sqlalchemy
import datetime
import os
dirname = os.getcwd()
Database = os.path.join(dirname, 'data/tasks.db')

connection = sqlite3.connect(Database)
cursor = connection.cursor()
engine = sqlalchemy.create_engine(r'sqlite:///{}'.format(Database)).connect()
df = pd.read_sql_table('tasks', engine, index_col=1)

print(df.head())

  task project category  priority                  note  complete
0  Run    home   health       1.0  Get my fat ass going     False
1  Run    home   health       1.0  Get my fat ass going     False
2                             4.0                           False

In [2]:
# Use the match function to update the dataframe depending on catagory passed into this function
new_task = {'task': "Run", 'project':'home', 'category':'health','priority':int(1),'note':'Get my fat ass going','complete':False}
new_row = pd.DataFrame(new_task, index=[0])
df = df.append(new_row, ignore_index=True)

In [3]:
df[['task','note','complete']]

  task                  note  complete
0  Run  Get my fat ass going     False
1  Run  Get my fat ass going     False
2                                False
3  Run  Get my fat ass going     False

In [28]:
def addNewTask(df):
    # Use the match function to update the dataframe depending on catagory passed into this function
    new_task = {'task': "Figure this shit out", 'project':'LIFE', 'category':'LIFE','priority':1,'note':'This is a long note to test the abilitiy to make long notes','complete':False}
    new_row = pd.DataFrame(new_task, index=[0])
    df = df.append(new_row, ignore_index=True)
    return df

In [31]:
df.to_sql('tasks', engine, if_exists='replace', index=False)

In [30]:
df = addNewTask(df)

In [32]:
df

,task,project,category,priority,note,complete
0,Run,home,health,1.0,Get my fat ass going,False
1,Run,home,health,1.0,Get my fat ass going,False
2,,,,4.0,,False
3,Run,home,health,1.0,Get my fat ass going,False
4,Figure this shit out,LIFE,LIFE,1.0,This is a long note to test the abilitiy to ma...,False

In [34]:
df.to_sql('tasks', engine, if_exists='replace', index=False)

In [35]:
df

  task project category  priority                  note  complete
0  Run    home   health       1.0  Get my fat ass going     False
1  Run    home   health       1.0  Get my fat ass going     False
2                             4.0                           False

In [15]:
df_dict = df.to_dict(orient='records')

In [16]:
df_dict

[{'task': 'Run',
  'project': 'home',
  'category': 'health',
  'priority': 1.0,
  'note': 'Get my fat ass going',
  'complete': False},
 {'task': 'Run',
  'project': 'home',
  'category': 'health',
  'priority': 1.0,
  'note': 'Get my fat ass going',
  'complete': False},
 {'task': '',
  'project': '',
  'category': '',
  'priority': 4.0,
  'note': '',
  'complete': False},
 {'task': 'Run',
  'project': 'home',
  'category': 'health',
  'priority': 1.0,
  'note': 'Get my fat ass going',
  'complete': False}]

In [19]:
print(df_dict[1])

{'task': 'Run', 'project': 'home', 'category': 'health', 'priority': 1.0, 'note': 'Get my fat ass going', 'complete': False}

In [23]:
df_dict[0].keys()

dict_keys(['task', 'project', 'category', 'priority', 'note', 'complete'])

In [24]:
df.set_index()

TypeError: set_index() missing 1 required positional argument: 'keys'

In [26]:
for key in df_dict[0]:
    print(df_dict[0][key])

Run
home
health
1.0
Get my fat ass going
False

In [27]:
print(len(df_dict))

4